!/**/.gitkeep
/.idea

#BACKEND
/backend/node_modules
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/vendor
/backend/.idea
/backend/.vscode
/backend/.vagrant
/backend/Homestead.json
/backend/Homestead.yaml
/backend/npm-debug.log
/backend/yarn-error.log
/backend/.env
/backend/.phpunit.result.cache


# FRONTEND
/frontend/node_modules
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.idea
/frontend/.vscode
/frontend/dist/*
